.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 620px;
  top: 80px;
  flex-direction: column;
  transition: all 0.5s ease 0s;
}

.loading-text {
  font-size: 13px;
  animation: animate-text 0.6s infinite;
  transform: scale(1);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis-element {
  position: absolute;
  top: 27px;
  background: #e91e63;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes animate-text {
  0% {
    transform: scale(1);
    transition: all 0.6s ease-in-out;
  }
  50% {
    transform: scale(1.1);
    transition: all 0.6s ease-in-out;
  }
  100% {
    transform: scale(1);
    transition: all 0.6s ease-in-out;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 586px) {
  .loader {
    height: 150px;
  }
}
