.issue-label {
  margin: 0 5px;
  background: var(--main-pink-color);
  width: fit-content;
  border-radius: 6px;
  font-size: 9px;
  font-weight: 300;
  color: white;
  padding: 5px;
  text-transform: capitalize;
}

.issue-label-circle {
  display: inline-block;
  height: 5px;
  width: 5px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 2px;
}
