.issues-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 30px;
  width: 100%;
}

.no-issues-message {
  display: flex;
  width: 90vw;
  height: 60vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: var(--main-pink-color);
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .issues-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .issues-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .issues-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 586px) {
  .issues-grid {
    grid-template-columns: auto;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 280px) {
  .issue {
    max-width: 220px;
  }
}
